# Common Functions/Methods
- len
- max
- min
- sorted

In [2]:
s = "Welcome to Inception FSDS"

In [3]:
max(s)  # returns 't', because 't' has the highest ASCII value among all characters in the string

't'

In [4]:
min(s)  # returns ' ' (space), because space has the lowest ASCII value among all characters in the string

' '

In [ ]:
sorted(s) # returns a list of characters in ascending order based on their ASCII values

In [ ]:
sorted(s, reverse=True) # returns a list of characters in descending order based on their ASCII values

In [7]:
s = "Welcome to Inception FSDS"

In [8]:
s.capitalize()  # 'Welcome to inception fsds' - Capitalizes the first character of the string

'Welcome to inception fsds'

In [9]:
s.upper()  # 'WELCOME TO INCEPTION FSDS' - Converts all characters to uppercase

'WELCOME TO INCEPTION FSDS'

In [10]:
s.lower()  # 'welcome to inception fsds' - Converts all characters to lowercase

'welcome to inception fsds'

In [12]:
s = "Welcome to Inception FSDS"

In [13]:
s.swapcase()  # 'wELCOME TO iNCEPTION fsds' - Swaps the case of each character in the string

'wELCOME TO iNCEPTION fsds'

- Count
- Find
- Index

In [20]:
s = "My name is Abdullah. I am learning Python programming. Python is great for data science."

In [18]:
s.count("Python")  # 2 - Counts occurrences of the substring "Python"

2

In [ ]:
s.find("A")  # 11 - Finds the first occurrence of substring "A", returns -1 if not found

11

In [23]:
s.find("x")  # -1 - 'x' is not found in the string

-1

In [24]:
s.index("A")  # 11 - Finds the first occurrence of substring "A", raises ValueError if not found

11

In [ ]:
s.("x")  # Raises ValueError - 'x' is not found in the string

In [31]:
s = "My name is Abdullah"

In [32]:
s.startswith("My")  # True - Checks if the string starts with "My"

True

In [33]:
s.endswith("ah")  # True - Checks if the string ends with "ah"

True

### Format

In [ ]:
name = "Abdullah"
gender = "Male"
age = 25

s = "My name is {} and I am a {}. I am {} years old."

In [ ]:
s.format(name, gender, age) # 'My name is Abdullah and I am a Male. I am 25 years old.' - puts the variables in the specified order

'My name is Abdullah and I am a Male. I am 25 years old'

In [ ]:
name = "Abdullah"
gender = "Male"
age = 25

s = "My name is {2} and I am a {1}. I am {0} years old."     # Using positional arguments in format

In [ ]:
s.format(age, gender, name) # puts the variables in the specified order

'My name is Abdullah and I am a Male. I am 25 years old'

# F-string

In [ ]:
s = f"My name is {name} and I am a {gender}. I am {age} years old."  # puts the variables directly in the string
print(s)

My name is Abdullah and I am a Male. I am 25 years old

- isalnum
- isalpha
- isdigit
- isidentifier

In [ ]:
s = "Abdullah@123"
s.isalnum()  # True - Checks if all characters are alphanumeric

False

In [45]:
s = "123456"
s.isalnum()  # True - Checks if all characters are alphanumeric

True

In [47]:
s = "Abdullah"
s.isalpha()  # True - Checks if all characters are alphabetic

True

In [ ]:
s = "123456"
s.isdigit()  # True - Checks if all characters are digits

In [48]:
s = "variable_name_1"
s.isidentifier()  # True - Checks if the string is a valid identifier

True

• Split
• Join

In [51]:
s = "My, name, is, Abdullah"

In [ ]:
s.split(",") # ['My', ' name', ' is', ' Abdullah'] - Splits the string at each comma and returns a list

['My', 'name', 'is', 'Abdullah']

In [53]:
s = "My@name@is@Abdullah"

In [ ]:
s.split("@")

['My', 'name', 'is', 'Abdullah']

In [57]:
# Join

words = ['My', 'name', 'is', 'Abdullah']

In [ ]:
s = " "  # Empty string as separator
s = s.join(words)
print(s)

My name is Abdullah

• Replace
• Strip

In [ ]:
s = "My name is Abdullah"

In [60]:
s.replace("Abdullah", "Ali")  # 'My name is John' - Replaces occurrences of "Abdullah" with "Ali"

'My name is Ali'

In [73]:
s = "  My name is Abdullah     "

In [76]:
s = s.strip() # 'My name is Abdullah' - Removes leading and trailing whitespace

In [77]:
s

'My name is Abdullah'